{% extends "base.html" %}

{% block title %}Admin Interface{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Carrier Name</h1>
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="carrier">Select Carrier:</label>
                <select name="carrier" id="carrier" class="form-control">
                    <option value="">Select Carrier</option>
                    {% for value in carrier_values %}
                    <option value="{{ value }}" {% if value == selected_carrier %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if results %}
    <h2 align="center">Results</h2>
    <form method="POST" action="/update">
        <div class="table-responsive">
            <table class="table table-striped freeze-table">
                <thead>
                    <tr>
                        <th>Insurance Company Name</th>
                        {% for result in results %}
                        <th>{{ result.Insurance_company_name if result.Insurance_company_name else '' }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Internal Code</th>
                        {% for result in results %}
                        <td>
                            <input type="hidden" name="Carrier_GUID_PK_{{ loop.index0 }}" value="{{ result.Carrier_GUID_PK }}">
                            <input type="text" name="Internal_code_{{ loop.index0 }}" value="{{ result.Internal_code if result.Internal_code else '' }}">
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Alias Used Name</th>
                        {% for result in results %}
                        <td><textarea name="Alias_used_name_{{ loop.index0 }}" rows="3" cols="50">{{ result.Alias_used_name if result.Alias_used_name else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Branch</th>
                        {% for result in results %}
                        <td><textarea name="Branch_{{ loop.index0 }}" rows="3" cols="50">{{ result.Branch if result.Branch else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Country</th>
                        {% for result in results %}
                        <td><textarea name="Country_{{ loop.index0 }}" rows="3" cols="50">{{ result.Country if result.Country else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>City</th>
                        {% for result in results %}
                        <td><textarea name="City_{{ loop.index0 }}" rows="3" cols="50">{{ result.City if result.City else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Region</th>
                        {% for result in results %}
                        <td><textarea name="Region_{{ loop.index0 }}" rows="3" cols="50">{{ result.Region if result.Region else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Include Flag</th> 
                        {% for result in results %} 
                        <td><input type="text" name="Include_flag_{{ loop.index0 }}" value="{{ result.Include_flag if result.Include_flag else ''}}"></td> 
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Country Category</th>
                        {% for result in results %}
                        <td><textarea name="Country_category_{{ loop.index0 }}" rows="3" cols="50">{{ result.Country_category if result.Country_category else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Country Residence Notes</th>
                        {% for result in results %}
                        <td><textarea name="CountryResidence_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.CountryResidence_Notes if result.CountryResidence_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Date Last Updated</th>
                        {% for result in results %}
                        <td><textarea name="Date_last_updated_{{ loop.index0 }}" rows="3" cols="50">{{ result.Date_last_updated if result.Date_last_updated else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Date Last Policy Inforce</th>
                        {% for result in results %}
                        <td><textarea name="Date_last_policy_inforce_{{ loop.index0 }}" rows="3" cols="50">{{ result.Date_last_policy_inforce if result.Date_last_policy_inforce else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Financial Ratings Institution</th>
                        {% for result in results %}
                        <td><textarea name="Financial_ratings_institution_{{ loop.index0 }}" rows="3" cols="50">{{ result.Financial_ratings_institution if result.Financial_ratings_institution else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Ratings</th>
                        {% for result in results %}
                        <td><textarea name="Ratings_{{ loop.index0 }}" rows="3" cols="50">{{ result.Ratings if result.Ratings else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Carrier Info Notes</th>
                        {% for result in results %}
                        <td><textarea name="CarrierInfo_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.CarrierInfo_Notes if result.CarrierInfo_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Nexus Conditions</th>
                        {% for result in results %}
                        <td><textarea name="Nexus_Conditions_{{ loop.index0 }}" rows="3" cols="50">{{ result.Nexus_Conditions if result.Nexus_Conditions else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Nexus Notes</th>
                        {% for result in results %}
                        <td><textarea name="Nexus_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.Nexus_Notes if result.Nexus_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>US Nexus Flag</th>
                        {% for result in results %}
                        <td><textarea name="US_Nexus_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.US_Nexus_flag if result.US_Nexus_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Other Policy Related</th>
                        {% for result in results %}
                        <td><textarea name="Other_policy_related_{{ loop.index0 }}" rows="3" cols="50">{{ result.Other_policy_related if result.Other_policy_related else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Minimum Policy Face Amount</th>
                        {% for result in results %}
                        <td><textarea name="Minimum_policy_face_amount_USD_Denominated_{{ loop.index0 }}" rows="3" cols="50">{{ result.Minimum_policy_face_amount_USD_Denominated if result.Minimum_policy_face_amount_USD_Denominated else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Minimum Global Net Worth</th>
                        {% for result in results %}
                        <td><textarea name="Minimum_global_net_worth_USD_Denominated_{{ loop.index0 }}" rows="3" cols="50">{{ result.Minimum_global_net_worth_USD_Denominated if result.Minimum_global_net_worth_USD_Denominated else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Age Related</th>
                        {% for result in results %}
                        <td><textarea name="Age_related_{{ loop.index0 }}" rows="3" cols="50">{{ result.Age_related if result.Age_related else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Citizenship/Visa Specified</th>
                        {% for result in results %}
                        <td><textarea name="Citizenship_visa_specified_{{ loop.index0 }}" rows="3" cols="50">{{ result.Citizenship_visa_specified if result.Citizenship_visa_specified else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>NRA Notes</th>
                        {% for result in results %}
                        <td><textarea name="NRA_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.NRA_Notes if result.NRA_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>General</th>
                        {% for result in results %}
                        <td><textarea name="General_{{ loop.index0 }}" rows="3" cols="50">{{ result.General if result.General else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min in the US for Prior 12 Months Annually (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_in_the_us_for_prior_12_months_annually_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_in_the_us_for_prior_12_months_annually_month if result.Min_in_the_us_for_prior_12_months_annually_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min in the US for Prior 24 Months Annually (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_in_the_us_for_prior_24_months_annually_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_in_the_us_for_prior_24_months_annually_month if result.Min_in_the_us_for_prior_24_months_annually_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min in the US for Prior 48 Months Annually (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_in_the_us_for_prior_48_months_annually_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_in_the_us_for_prior_48_months_annually_month if result.Min_in_the_us_for_prior_48_months_annually_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min in the US Annually (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_in_the_us_annually_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_in_the_us_annually_month if result.Min_in_the_us_annually_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min Spend Outside Annually (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_spend_outside_annually_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_spend_outside_annually_month if result.Min_spend_outside_annually_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Max Total Time Been in the US (year)</th>
                        {% for result in results %}
                        <td><textarea name="Max_total_time_been_in_the_us_year_{{ loop.index0 }}" rows="3" cols="50">{{ result.Max_total_time_been_in_the_us_year if result.Max_total_time_been_in_the_us_year else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Physical Citizenship</th>
                        {% for result in results %}
                        <td><textarea name="Physical_Citizenship_{{ loop.index0 }}" rows="3" cols="50">{{ result.Physical_Citizenship if result.Physical_Citizenship else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Visa</th>
                        {% for result in results %}
                        <td><textarea name="Visa_{{ loop.index0 }}" rows="3" cols="50">{{ result.Visa if result.Visa else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Financial Citizenship</th>
                        {% for result in results %}
                        <td><textarea name="Financial_Citizenship_{{ loop.index0 }}" rows="3" cols="50">{{ result.Financial_Citizenship if result.Financial_Citizenship else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Residence</th>
                        {% for result in results %}
                        <td><textarea name="Residence_{{ loop.index0 }}" rows="3" cols="50">{{ result.Residence if result.Residence else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Personal Insurance Flag</th>
                        {% for result in results %}
                        <td><textarea name="Personal_insurance_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.Personal_insurance_flag if result.Personal_insurance_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Need for US Based Coverage Flag</th>
                        {% for result in results %}
                        <td><textarea name="Need_for_US_based_coverage_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.Need_for_US_based_coverage_flag if result.Need_for_US_based_coverage_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Determining Justified Amounts</th>
                        {% for result in results %}
                        <td><textarea name="Determining_justified_amounts_{{ loop.index0 }}" rows="3" cols="50">{{ result.Determining_justified_amounts if result.Determining_justified_amounts else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Bank Account Min Opened Time Prior to App (month)</th>
                        {% for result in results %}
                        <td><textarea name="Bank_account_min_opened_time_prior_to_app_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Bank_account_min_opened_time_prior_to_app_month if result.Bank_account_min_opened_time_prior_to_app_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Bank Account Info</th>
                        {% for result in results %}
                        <td><textarea name="Bank_account_info_{{ loop.index0 }}" rows="3" cols="50">{{ result.Bank_account_info if result.Bank_account_info else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Bank Balance</th>
                        {% for result in results %}
                        <td><textarea name="Bank_balance_{{ loop.index0 }}" rows="3" cols="50">{{ result.Bank_balance if result.Bank_balance else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Wealth</th>
                        {% for result in results %}
                        <td><textarea name="Wealth_{{ loop.index0 }}" rows="3" cols="50">{{ result.Wealth if result.Wealth else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Time of Verifiable US Assets in the US (month)</th>
                        {% for result in results %}
                        <td><textarea name="Time_of_verifiable_US_assets_in_the_US_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Time_of_verifiable_US_assets_in_the_US_month if result.Time_of_verifiable_US_assets_in_the_US_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Verifiable US Assets in the US</th>
                        {% for result in results %}
                        <td><textarea name="Verifiable_US_assets_in_the_US_million_{{ loop.index0 }}" rows="3" cols="50">{{ result.Verifiable_US_assets_in_the_US_million if result.Verifiable_US_assets_in_the_US_million else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>SSN/TIN Document Name</th>
                        {% for result in results %}
                        <td><textarea name="Document_name_{{ loop.index0 }}" rows="3" cols="50">{{ result.Document_name if result.Document_name else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Document Notes</th>
                        {% for result in results %}
                        <td><textarea name="Document_notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.Document_notes if result.Document_notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Ownership Structure</th>
                        {% for result in results %}
                        <td><textarea name="Ownership_Structure_{{ loop.index0 }}" rows="3" cols="50">{{ result.Ownership_Structure if result.Ownership_Structure else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Ownership Structure Carrier Notes</th>
                        {% for result in results %}
                        <td><textarea name="Ownership_Structure_carrier_notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.Ownership_Structure_carrier_notes if result.Ownership_Structure_carrier_notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Minimum Time Spend Outside of the US Per Year (week)</th>
                        {% for result in results %}
                        <td><textarea name="Minimum_time_spend_outside_of_the_US_Per_Year_week_{{ loop.index0 }}" rows="3" cols="50">{{ result.Minimum_time_spend_outside_of_the_US_Per_Year_week if result.Minimum_time_spend_outside_of_the_US_Per_Year_week else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Foreign Country Specified</th>
                        {% for result in results %}
                        <td><textarea name="Foreign_country_specified_{{ loop.index0 }}" rows="3" cols="50">{{ result.Foreign_country_specified if result.Foreign_country_specified else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Travel Notes</th>
                        {% for result in results %}
                        <td><textarea name="Travel_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.Travel_Notes if result.Travel_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Identities</th>
                        {% for result in results %}
                        <td><textarea name="Identities_{{ loop.index0 }}" rows="3" cols="50">{{ result.Identities if result.Identities else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Acceptable Residing Country</th>
                        {% for result in results %}
                        <td><textarea name="Acceptable_residing_country_{{ loop.index0 }}" rows="3" cols="50">{{ result.Acceptable_residing_country if result.Acceptable_residing_country else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Foreign Living Condition</th>
                        {% for result in results %}
                        <td><textarea name="Foreign_living_condition_{{ loop.index0 }}" rows="3" cols="50">{{ result.Foreign_living_condition if result.Foreign_living_condition else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Exclusion</th>
                        {% for result in results %}
                        <td><textarea name="Exclusion_{{ loop.index0 }}" rows="3" cols="50">{{ result.Exclusion if result.Exclusion else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Inbound Identities</th>
                        {% for result in results %}
                        <td><textarea name="Inbound_Identities_{{ loop.index0 }}" rows="3" cols="50">{{ result.Inbound_Identities if result.Inbound_Identities else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Inbound Citizenship</th>
                        {% for result in results %}
                        <td><textarea name="Inbound_Citizenship_{{ loop.index0 }}" rows="3" cols="50">{{ result.Inbound_Citizenship if result.Inbound_Citizenship else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Citizenship Exclusion Flag</th>
                        {% for result in results %}
                        <td><textarea name="Citizenship_exclusion_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.Citizenship_exclusion_flag if result.Citizenship_exclusion_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Acceptable Visa Status Type</th>
                        {% for result in results %}
                        <td><textarea name="Acceptable_visa_status_type_{{ loop.index0 }}" rows="3" cols="50">{{ result.Acceptable_visa_status_type if result.Acceptable_visa_status_type else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min Time Reside in US Per Year (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_time_reside_in_us_per_year_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_time_reside_in_us_per_year_month if result.Min_time_reside_in_us_per_year_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Min Time Reside in US (month)</th>
                        {% for result in results %}
                        <td><textarea name="Min_time_reside_in_us_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Min_time_reside_in_us_month if result.Min_time_reside_in_us_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Continue Reside Flag</th>
                        {% for result in results %}
                        <td><textarea name="Continue_reside_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.Continue_reside_flag if result.Continue_reside_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Nexus Flag</th>
                        {% for result in results %}
                        <td><textarea name="Nexus_flag_{{ loop.index0 }}" rows="3" cols="50">{{ result.Nexus_flag if result.Nexus_flag else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Max Foreign Travel (month)</th>
                        {% for result in results %}
                        <td><textarea name="Max_foreign_travel_month_{{ loop.index0 }}" rows="3" cols="50">{{ result.Max_foreign_travel_month if result.Max_foreign_travel_month else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Inbound Policy Type</th>
                        {% for result in results %}
                        <td><textarea name="Inbound_Policy_type_{{ loop.index0 }}" rows="3" cols="50">{{ result.Inbound_Policy_type if result.Inbound_Policy_type else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Inbound Notes</th>
                        {% for result in results %}
                        <td><textarea name="Inbound_Notes_{{ loop.index0 }}" rows="3" cols="50">{{ result.Inbound_Notes if result.Inbound_Notes else '' }}</textarea></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Submit</th>
                        {% for result in results %}
                        <td>
                            <button type="submit" class="btn btn-primary" name="update_{{ loop.index0 }}" value="{{ result.Carrier_GUID_PK }}">Update</button>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}